@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-simplify {
        /* background-image: url('public/images/logo.svg'); */
        background-image: url('public/images/bg-simplify-section-desktop.svg');
        background-position: center center;
        background-size: cover;
    }
}   